@media (max-width: 1710px) {
    
    .about h2 {
        font-size: 26px;
    }

}

@media (max-width: 1510px) {

#box-1 img {
    padding: 0;
    padding-top: 35px;
}

.header-buttons {
    justify-content: left;
    padding-left: 50px;
}

.about {
    width: 85%;
}


.about h2 {
    font-size: 24px;
    margin: 50px 30px 20px;
}

.about p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.vladilen-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px auto 0;
    width: 100%;
}

.vladilen-links img {
    display: flex;
    width: 170px;
    height: 80px;
    margin: 0 auto 0;
    padding: 0;
}

}

@media (max-width: 1000px) {
    .about {
        width: 95%;
    }
}