@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans-Regular.ttf);
}

@keyframes underscore {
    0% {
        color: white;
        text-shadow: 0 0 3px;
    }
    50% {
        color: black;
    }
    100% {
        color: white;
        text-shadow: 0 0 3px;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    background: black;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.main {
    position: absolute;
    top: 50px;
}

#underscore {
    animation: underscore 1s linear infinite;
}

.header h1 {
    color: white;
    display: flex;
    margin: auto 0 auto 50px;
    text-shadow: 0 0 3px;
    width: 15%;
}

#underscore:hover, .header h1:hover {
    cursor: default;
}

#underscore::selection, .header h1::selection {
    background: transparent;
}

#underscore::-moz-selection, .header h1::-moz-selection {
    background: transparent;
}

.header-buttons {
    display: flex;
    width: 85%;
    justify-content: center;
    vertical-align: middle;
}

.header-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 15%;
    padding-top: 15px;
    max-width: 225px;
}

.header-btn a {
    text-decoration: none;
}

.header-btn p {
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.header-btn p:hover {
    font-size: 24px;
    text-shadow: 0 0 20px white;
    cursor: pointer;
}

.header-btn:nth-child(2) {
    margin: 0 80px 0;
    width: 20%;
    max-width: 300px;
}

.header-btn:last-child {
    width: 35%;
    max-width: 525px;
}

/* --------------Main section---------------- */

#hidden {
    font-size: 0;
}

.main {
    width: 100%;
    background-color: black;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content-box {
    display: flex;
    height: 500px;
    width: 40%;
    /* margin-right: 2px;
    margin-bottom: 2px; */
    background-color: rgba(255, 255, 0, .9);
    justify-content: center;
    align-items: center;
}

#box-1 {
    flex-direction: row;
    align-items: flex-start;
}

#box-1 img {
    padding-top: 35px;
    padding-left: 150px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 100%;
}

.about h2, .about p {
    display: flex;
    margin: 0;
}

.about h2 {
    margin: 0 30px 50px;
    font-size: 35px;
}

.about p {
    margin: 0 30px 0;
    font-size: 22px;
}

.vladilen-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.vladilen-links img:active {
    scale: 85%;
}

.vladilen-links img:hover {
    box-shadow: 0 2px 5px black;
    border-radius: 20px;
}

.vladilen-links img {
    width: 150px;
    height: 50px;
    margin: 4px 15px 4px;
    box-sizing: border-box;
}

.vladilen-links img:first-child {
    padding: 0 5px 0;
}

#skills-header {
    display: flex;
    width: 80%;
    margin: 0;
    /* width: calc(80% + 4px); */
    /* margin: 0 0 2px 0; */
    height: 50px;
    font-size: 34px;
    line-height: 50px;
    background-color: rgba(255, 255, 0, .9);
    justify-content: center;
    vertical-align: middle;
}
